html, body{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    background-color: rgba(169, 247, 243, 0.288);
}

*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.clock{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: rgba(250, 250, 250, 0.4);
    border-radius: 50%;
    border:2px solid black;
}

.number{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(0deg);
    font-weight: bold;
}

/* .number1{--rotation:30deg;} */
.number1{transform: rotate(30deg);}
.number2{transform: rotate(60deg);}
.number3{transform: rotate(90deg);}
.number4{transform: rotate(120deg);}
.number5{transform: rotate(150deg);}
.number6{transform: rotate(180deg);}
.number7{transform: rotate(210deg);}
.number8{transform: rotate(240deg);}
.number9{transform: rotate(270deg);}
.number10{transform: rotate(300deg);}
.number11{transform: rotate(330deg);}

.hand{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%);
    transform-origin: bottom;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 0.5px solid white;
    z-index: 10;
}

.hour-hand{
    height: 32%;
    width: 8px;
    background-color: black;
}

.minute-hand{
    height: 38%;
    width: 6px;
    background-color: black;
    transform: rotate(30deg);
}

.second-hand{
    height: 42%;
    width: 1px;
    background-color: red;
    transform: rotate(60deg);
}

.clock::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 30px;
    background-color: black;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 11;
    border: 0.5px solid white;
}